*{
    
    font-family: 'Inter';
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}
#navBack {
    background-color: #212121;
    /* opacity: 0.5; */
    /* padding: 5px; */
    /* height: 56px; */
    padding: 0.3%;
  }
  
  /* Apply styles to the entire navbar */
  #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  #imago img {
    width: 50px;
    height: auto;
  }
  
  .navbar-form {
    display: flex;
    align-items: center;
  }
  
  .navbar-form .form-control {
    width: 200px;
    margin-right: 10px;
  }
  
  .navbar-form .btn {
    background-color: #ccc;
    border: none;
    /* padding: 5px 10px; */
    cursor: pointer;
  }
  
  .horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;

    display: flex;
    
  }
  
  .horizontal-menu li {
    margin-right: 10px;
  }
  
  #nav div {
    font-weight: bold;
  }
  
  #posterImg{
    position: absolute;
    width: 378.69px;
    height: 530px;
  }

  #posterImg image{
    align-items: center;
  }

  .split {
    height: 100%;
    
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #111;
    width: 35%;
    color: aliceblue;
  }
  
  .right {
    right: 0;
    width: 65%;
    background-color: #212121;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
#leftInfo{
    display: flex;
    gap: 64%;
}


#tag button{
    background: rgba(217, 217, 217, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px;
    color: #1CB6D8;
    padding: 7px;
    margin: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
    padding: 5px 12px;

}

.rightInfo{
    color: whitesmoke;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.geeks {
    width: 400px;
    height: 2px;
    /* background: #fff; */
    position: absolute;
    left: 30%;
    transform: translate(-50%, -50%);
}

.geeks::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 72%;
    height: 100%;
    background: #1CB6D8;
    animation: animate 5s linear infinite;
    margin-top: 12px;
}

@keyframes animate {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    0% {
        left: 0;
    }
}
.rightInfo #tag{
    display: flex;
    align-items: center;
    gap: 20px;
}


#gooey-button{
    padding: 2px;
    font-size: 16px;
    border: none;
    color: #0c1016;
    filter: url('#gooey');
    position: relative;
    background-color: #1CB6D8;
}